/.idea
/node_modules
/public/Modules/Notes/*
/public/Modules/Manufacturing/*
/public/Modules/Accounting/*
/public/Modules/Attendance/*
/public/Modules/Calendar/*
/public/Modules/Dashboards/*
/public/Modules/Discuess/*
/public/Modules/Employee/*
/public/Modules/Expenses/*
/public/Modules/Inventory/*
/public/Modules/Leaves/*
/public/Modules/Maintenance/*
/public/Modules/Pointofsale/*
/public/Modules/Projects/*
/public/Modules/purchase/*
/public/Modules/Recruitment/*
/public/Modules/Repairs/*
/public/Modules/Sales/*
/public/Modules/Setting/*
/public/Modules/Test/*
/public/Modules/Timesheet/*