.container-fluid(style='margin-left: -15px;margin-right: -15px;')
    DashboardController(v-bind:createbtn='true',v-bind:importbtn='true',v-bind:links='btnlinks',v-bind:searchbar='true',v-bind:num1='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:heading='head' )
    TableMain(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata",v-bind:tablefoot="tablefoot")
    //.row
    //    table.table.table-striped.samotable
    //        thead.samotablehead
    //            tr
    //                th.o_list_record_selector.samotableheadborder(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //
    //                th.samotableheadborder Name
    //                th.samotableheadborder Login
    //                th.samotableheadborder Language
    //                th.samotableheadborder Latest Connection
    //
    //
    //        tfoot
    //            tr
    //                td
    //                td
    //                td
    //                td
    //
    //
    //        tbody.samotbody
    //            tr
    //                th.o_list_record_selector.samotablepadd(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd
    //                    router-link.links(to='tabs') hassan
    //                td.samotablepadd Otto
    //                td.samotablepadd @mdo
    //                td.samotablepadd Mark
    //
    //            tr
    //                th.o_list_record_selector.samotablepadd(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd Mark
    //                td.samotablepadd Otto
    //                td.samotablepadd @mdo
    //                td.samotablepadd Mark
    //
    //
    //            tr
    //                th.o_list_record_selector(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd Mark
    //                td.samotablepadd Otto
    //                td.samotablepadd @mdo
    //                td.samotablepadd Mark
    //
    //
    //            tr
    //                th.o_list_record_selector.samotablepadd(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd Mark
    //                td.samotablepadd Otto
    //                td.samotablepadd @mdo
    //                td.samotablepadd Mark
    //
