doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        style.
            body{
            }
            .centered-form{
                margin-top: 192px;
                margin-left: 600px;
            }
            .bgl
            {
                width: 100%;
                height: 100%;
            }
            .centered-form .panel{
                background: rgba(255, 255, 255, 0.8);
                box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
            }

    body
        .container.bgl
            .row.centered-form
                .col-xs-12(style='width: 51%;')
                    .panel.panel-default
                        .panel-heading
                            h3.panel-title Registration Company
                        .panel-body
                            form(method='post' action='/check')
                                .form-group
                                    input.form-control.input-sm(type='text', name='username', id='', placeholder='First / Last Name')
                                .form-group
                                    input#email.form-control.input-sm(type='email', name='email', placeholder='Email Address')
                                .row
                                    .col-xs-6.col-sm-6.col-md-6
                                        .form-group
                                            input.form-control.input-sm(type='text', name='company_name', placeholder='Company Name')
                                    .col-xs-6.col-sm-6.col-md-6
                                        .form-group
                                            input.form-control.input-sm(type='number', name='phone_no', placeholder='Phone Number')
                                .row
                                    .col-xs-6.col-sm-6.col-md-6
                                        .form-group
                                            input.form-control.input-sm(type='text', name='country', placeholder='Country')
                                input.btn.btn-info.btn-block(type='submit', value='Register')





