.company
<<<<<<< HEAD
    DashboardController(v-bind:createbtn='true',v-bind:actionbtn='true',v-bind:deletebtn='true',v-bind:importbtn='true',v-bind:links='btnlinks',v-bind:searchbar='true',v-bind:num1='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:heading='head' )
        .col-sm-6(style='padding:0px;' ,slot='heading')
            h4.samodashheading(style="font-size: 18px;") Company
    Tabledrag(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata",v-bind:tablefoot="tablefoot")
=======
    DashboardController(v-bind:createbtn='true',v-bind:importbtn='true',v-bind:links='btnlinks',v-bind:searchbar='true',v-bind:num1='true',v-bind:dropdownbtn1='true',v-bind:dropdownbtn2='true',v-bind:dropdownbtn3='true',v-bind:heading='head' )
    Tabledrag(v-bind:tableheader='tableheader', v-bind:tabledata="tabledata",v-bind:tablefoot="tablefoot")
    //.row
    //    table.table.table-striped.samotable
    //        thead.samotablehead
    //            tr
    //                th.o_list_record_selector.samotableheadborder(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //
    //                th.samotableheadborder(colspan='2') Comapny Name
    //                th.samotableheadborder(colspan='2') Partner
    //
    //
    //
    //        tfoot
    //            tr
    //                td
    //                td
    //                td
    //                td
    //
    //
    //        tbody.samotbody
    //            tr
    //                th.o_list_record_selector.samotablepadd(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd(colspan='2')
    //                    router-link.links(to='profile') Alupak Industries
    //                td.samotablepadd(colspan='2') my partner
    //
    //            tr
    //                th.o_list_record_selector.samotablepadd(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd(colspan='2') ALUALU INDUSTRIES
    //                td.samotablepadd(colspan='2') Otto
    //
    //            tr
    //                th.o_list_record_selector.samotablepadd(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd(colspan='2')
    //                    router-link.links(to='Companypopup') PAKpak Industries
    //                td.samotablepadd(colspan='2') my partner
    //
    //            tr
    //                th.o_list_record_selector.samotablepadd(width='1')
    //                    .o_checkbox
    //                        input(type='checkbox')
    //                        span
    //                td.samotablepadd(colspan='2') ALUALU INDUSTRIES
    //                td.samotablepadd(colspan='2') Otto
    //
    //
    //

    //.o_content.usama(style='margin-left: -15px;margin-right: -15px;')
    //    .o_view_manager_content
    //        div
    //            .table-responsive
    //                table.o_list_view.table.table-condensed.table-striped
    //                    thead
    //                        tr
    //                            th.o_list_record_selector(width='1')
    //                                .o_checkbox
    //                                    input(type='checkbox')
    //                                    span
    //                            th.o_column_sortable(data-id='sequence', width='1')
    //                                span.o_row_handle.fa.fa-arrows.invisible
    //                            th.o_column_sortable(data-id='name')
    //                                | Company Name
    //                            th.o_column_sortable(data-id='partner_id')
    //                                | Partner
    //                    tfoot
    //                        tr
    //                            td
    //                            td
    //                            td
    //                            td
    //                    tbody.ui-sortable
    //                        tr(data-id='1', style='')
    //                            td.o_list_record_selector
    //                                .o_checkbox
    //                                    input(name='radiogroup', type='checkbox')
    //                                    span
    //                            td.o_readonly.o_list_number.o_handle_cell(data-field='sequence', title='Used to order Companies in the company switcher')
    //                                span.o_row_handle.fa.fa-arrows.ui-sortable-handle
    //                            td(data-field='name')
    //                                router-link.links(to='Companypopup') Alupak Industries
    //                            td(data-field='partner_id') Alupak Industries
    //                        tr(data-id='3', style='')
    //                            td.o_list_record_selector
    //                                .o_checkbox
    //                                    input(name='radiogroup', type='checkbox')
    //                                    span
    //                            td.o_readonly.o_list_number.o_handle_cell(data-field='sequence', title='Used to order Companies in the company switcher')
    //                                span.o_row_handle.fa.fa-arrows.ui-sortable-handle
    //                            td(data-field='name') My Company, Chicago
    //                            td(data-field='partner_id') My Company, Chicago
>>>>>>> 526c285025165345c1f9b3a1662a180597b10f83
